<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="../../../vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="false"
         executionOrder="random"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutCoverageMetadata="true"
         failOnPhpunitDeprecations="true"
         failOnDeprecations="true"
         failOnNotice="true"
         failOnWarning="true"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="true"
         beStrictAboutCoveredCodeByTests="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <clover outputFile="coverage.xml"/>
            <html outputDirectory="coverage-html"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="tests-results.xml"/>
    </logging>
</phpunit>